@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700);

@-webkit-keyframes bg_gradient {
    0%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
@-moz-keyframes bg_gradient {
    0%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
@-o-keyframes bg_gradient {
    0%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
@keyframes bg_gradient { 
    0%{background-position:100% 0%}
    100%{background-position:0% 100%}
}
html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
} body {
	background: linear-gradient(225deg, #9b59b6, #3498db, #2ecc71, #f1c40f, #e67e22, #e74c3c, #9b59b6, #3498db);
	background-size: 1190% 105%;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: relative;
	padding:0;
	margin:0;

	-webkit-animation: bg_gradient 120s linear infinite;
	-moz-animation: bg_gradient 120s linear infinite;
	-o-animation: bg_gradient 120s linear infinite;
	animation: bg_gradient 120s linear infinite;
} *:focus {
	outline: none !important;
} *:active {
	outline: none !important;
} #content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 300px;
	height: auto;
	background-color: white;
	border: 1px solid black;
	font-family: "Open Sans Condensed", sans-serif;
} h1 {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	top: 115px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Roboto", sans-serif;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
 	user-select: none;
 	cursor: default;
} #hamburger {
	height: 35px;
	z-index: 100;
	width: auto;
	position: absolute;
	top: 20px;
	left: 20px;
} #hamburger_svg {
	height: 100%;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
 	user-select: none;
 	cursor: pointer;
} #menu {
	width: 300px;
	height: 120vh;
	background-color: black;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 50;
} #expand {
	position: fixed;
	left: 0;
	top: 0;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 3;
} .menu_item {
	width: 100%;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-size: 2em;
	padding: 5px 0 5px 0;
	font-family: 'Open Sans Condensed', Arial;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
 	user-select: none;
 	z-index: 51;
} a:visited {
	text-decoration: none;
} a:hover {
	text-decoration: none;
} a:active {
	text-decoration: none;
} a:link {
	text-decoration: none;
} #info {
	font-weight: 700;
} #information {
	font-weight: 100;
} h2 {
	text-align: center;
	font-size: 2em;
} #intro {
	width: 100%;
	display: inline-block;
	margin: 30px 0 15px 0;
} #profile {
	height: auto;
	float: right;
} #introduction {
	font-size: 1.5em;
	float: left;
} #profile_photo {
	width: 100%;
	height: auto;
} #profile_title {
	text-align: center;
	margin: 15px 0 0 0;
	font-size: 1.5em;
	padding: 0;
} #website_intro {
	font-size: 1.5em;
	width: 80%;
	height: auto;
	margin: 50px 10% 50px 10%;
} #more {
	width: 100%;
} #me {
	border-right: 1px solid gray;
} #website {
	border-left: 1px solid gray;
} .click_expand {
	position: relative;
	font-size: 1.5em;
	width: 50%;
	text-align: center;
	border-top: 1px solid gray;
	padding: 20px 0 20px 0;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
 	user-select: none;
 	cursor: default;
} #more_table {
	border-collapse: collapse;
	width: 100%;
} .me_question {
	width: 25%;
} .me_answer {
	width: 75%;
} #me_table_header {
	font-size: 1.5em;
} #me_c {
	width: 100%;
} #me_table {
	width: 90%;
	margin: 20px 0 20px 5%;
} .me_question {
	padding: 5px 0 5px 0;
} .me_answer {
	padding: 5px 0 5px 0;
} .website_question {
	padding: 5px 0 5px 0;
} .website_answer {
	padding: 5px 0 5px 0;
} #website_table {
	width: 90%;
	margin: 20px 0 20px 5%;
} #website_c {
	width: 100%;
	position: relative;
	top: -22px;
} #website_table {
	width: 90%;
	margin: 20px 0 20px 5%;
} #website_table_header {
	font-size: 1.5em;
} .website_question {
	width: 25%;
} .website_answer {
	width: 75%;
} #side_logo {
	width: 200px;
	margin: 50px 0 50px 50px;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
  	-ms-user-select: none;
 	user-select: none;
}

/* WIDTH LESS THAN 1000px */
@media only screen and (max-width: 1000px) {
	#content {
		width: 100%;
		margin-bottom: 0;
		padding: 0 5% 0 5%;
	} hr {
		width: 92%;
	} #profile {
		width: 80%;
		margin-right: 10%;
	} #introduction {
		height: auto;
		width: 80%;
		margin-top: 15px;
		margin-left: 10%;
	}
}
/* WIDTH MORE THAN 1000px */
@media only screen and (min-width: 1000px) {
	#content {
		width: 920px;
		margin-bottom: 50px;
		padding: 0 5% 35px 5%;
	} hr {
		width: 100%;
	} #profile {
		width: 40%;
		margin-right: 2.5%;
	} #introduction {
		height: 100%;
		width: 50%;
		margin-top: 150px;
		margin-left: 5%;
	}
}
/* WIDTH LESS THAN 500px */
@media only screen and (max-width: 500px) {
	#information {
		display: none;
	}
}
/* WIDTH MORE THAN 500px */
@media only screen and (min-width: 500px) {
	#information {
		display: inline-block;
	}
}

